 body {
  width: 95vw;
  height: 95vh;
  background-color: grey;
  text-align: center;
}

.container1 {
 height: 30%;
 width: 100%;
 color: blue;
 font-family: Impact, Calibri;
 display: flex;
}

.container2 {
 height: 70%;
 width: 100%;
 color: blue;
 font-family: Impact, Calibri;
 display: flex;
}

.block {
  height: 100%;
}

#one {
 background-color: yellow;
 width: 70%;
}

#two {
 background-color: pink;
 width: 20%;
}

#three {
 background-color: orange;
 width: 10%;
}

#four {
  background-color: white;
  width: 70%;
}

#five {
  background-color: black;
  width: 30%;
}

