body {
  min-width: 90vw;
  min-height: 90vh;
  background-color: white;
}

.fullwidthtitle {
  width: 100%;
  height: 10vh;
  background-color: black;
  float: left;
  font-family: Lobster;
  color: white;
  font-size: 300%;
  text-align: center;
  letter-spacing: 0.25em;
  margin-top: 2%;
}

.menucontainer {
  min-width: 90vw;
  min-height: 80vh;
  display: flex; 
}

.menutab {
  background-color: white;
  width: 9%;
  margin-left: 8.5%;
  margin-top: 3%;
  border-radius: 1em;
  box-shadow: inset 20em 0 0 0 black;
  transition:all 1s ease;
}

.menutab:hover {
  box-shadow: inset 0em 0 0 0 black;
}

#one {
    /* Old browsers */
    background-image: url("https://user-images.githubusercontent.com/23199807/31148529-cf063676-a841-11e7-8b7f-45b36784c633.PNG");
    border-right: 1.5em solid #F52F18; 
}



#two {
    /* Old browsers */
    background-image: url("https://user-images.githubusercontent.com/23199807/31157872-db9d7d46-a872-11e7-814a-0e65eeae09c3.PNG"); 
    border-right: 1.5em solid #F5A021; 
}


#three {
    /* Old browsers */
    background-image: url("(https://user-images.githubusercontent.com/23199807/31158364-177cd804-a876-11e7-96d2-e0f2c45c0fac.PNG"); 
    border-right: 1.5em solid #55F67B; 
}


#four {
    /* Old browsers */
    background-image: url("https://user-images.githubusercontent.com/23199807/30504292-bd49cb14-9a22-11e7-9f8f-a3a84e6c46c0.png"); 
    border-right: 1.5em solid #4CBABC; 
}


#five {
    /* Old browsers */
    background-image: url("https://user-images.githubusercontent.com/23199807/30504292-bd49cb14-9a22-11e7-9f8f-a3a84e6c46c0.png"); 
    border-right: 1.5em solid #BB3187; 
}

