body {
  min-width: 90vw;
  min-height: 90vh;
  background-color: white;
}

.fullwidthtitle {
  width: 100%;
  height: 10vh;
  background-color: black;
  float: left;
  font-family: Lobster;
  color: white;
  font-size: 300%;
  text-align: center;
  letter-spacing: 0.25em;
  margin-top: 2%;
}

.menucontainer {
  min-width: 90vw;
  min-height: 80vh;
  display: flex; 
}

.menutab {
  background-color: grey;
  width: 9%;
  margin-left: 8.5%;
  margin-top: 3%;
  border-radius: 1em;
}

#one {
    /* Old browsers */
    background: linear-gradient(to right, black 50%, #F52F18 50%);
    background-size: 200% 10%;
    background-position:left bottom;
    transition:all 1s ease;
    border-right: 1.5em solid #F52F18; 
}

#one:hover {
   background-position:right bottom;
}

#two {
    /* Old browsers */
    background: linear-gradient(to right, black 50%, #F5A021 50%);
    background-size: 200% 10%;
    background-position:left bottom;
    transition:all 1s ease;
    border-right: 1.5em solid #F5A021; 
}

#two:hover {
   background-position:right bottom;
}

#three {
    /* Old browsers */
    background: linear-gradient(to right, black 50%, #55F67B 50%);
    background-size: 200% 10%;
    background-position:left bottom;
    transition:all 1s ease;
    border-right: 1.5em solid #55F67B; 
}

#three:hover {
   background-position:right bottom;
}

#four {
    /* Old browsers */
    background: linear-gradient(to right, black 50%, #4CBABC 50%);
    background-size: 200% 10%;
    background-position:left bottom;
    transition:all 1s ease;
    border-right: 1.5em solid #4CBABC; 
}

#four:hover {
   background-position:right bottom;
}

#five {
    /* Old browsers */
    background: linear-gradient(to right, black 50%, #BB3187 50%);
    background-size: 200% 10%;
    background-position:left bottom;
    transition:all 1s ease;
    border-right: 1.5em solid #BB3187; 
}

#five:hover {
   background-position:right bottom;
}
