 body {
  width: 95vw;
  height: 95vh;
  background-color: grey;
}

.container {
 height: 100%;
 width: 100%;
 color: blue;
 font-family: Impact, Calibri;
 text-align: center;
}

.oneblock {
 background-color: yellow;
 width: 50%;
 height: 30%;
 display: inline-block;
 float: left;
}

.twoblock {
 background-color: pink;
 width: 30%;
 height: 30%;
 display: inline-block;
 
}

.threeblock {
 background-color: orange;
 width: 20%;
 height: 30%;
 display: inline-block; 
 float: right;
}

.fourblock {
  background-color: white;
  width: 50%;
  height: 70%;
  display: inline-block; 
  float: left;
}
.fiveblock {
  background-color: black;
  width: 50%;
  height: 70%;
  display: inline-block; 
  float: right;
}

