body {
  background-color:black;
  height:10%;
  width:100%;
}

.top {
  width:75%;
  height:100%;
  font-family: Impact;
  font-size: 300%;
  color:pink;
  background-color: black;
  font-style: italic;
}
.menutab {
  background-color: pink;
  width:19.4%;
  height:100%;
  color: black;
  display: inline-block;
  border-right: .025em solid black;
  font-family:impact;
  text-align: left;
  font-size: 200%;
}
.menutab:hover {
 background-color:yellow; 
}
.homepic {
  background-color:yellow;
  width:30%;
  height:500%;
  border-top: .25em solid pink; 
  border-right: .2em solid pink;
  margin-top: .75em;
  background-color: black;
  color:pink;
  display:inline-block;
}
.picactual {
 width: 97.95%;
 height: 97.5%;
 background-color: yellow;
 margin-top: .5em;
}
.home {
  color:white;
  width:66.3%;
  height:500%;
  display: inline-block;
  background-color:black;
  border-top: .25em solid pink;
  border-right: .25em solid pink;
  margin-left: 1em;
  margin-top: .25em;
  display: inline-block;
}
.homestory {
  color: white;
  display: inline-block;
}

.title {
width: 95%; 
height: 10%;
background-color: white;
border-radius: 25px;
border-left: 25px solid #22C0DC;
font-size: 300%;
font-family: Impact;
}

.title:hover {
  animation-name: example; 
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: white;}
  to {background-color: #22C0DC;}
}

