body {
  background-color: black;
}
#title {
  font-family: impact;
  font-size: 80px;
  color:white;
  margin-top:50px;
  margin-left:125px;
}
#intro {
   font-family: impact;
  font-size: 70px;
  color:white;
  padding-top:30px;
  padding-left:250px;
}
.menu {
 font-family: impact;
  font-size: 30px;
  color:white;
  border-bottom: 2px solid white;
  height:100px;
  width:200px;
  display: inline-block;
  margin-left: 10px;
  margin-top:70px;
}
.menufront {
 font-family: impact;
  font-size: 30px;
  color:white;
  border-bottom: 2px solid white;
  height:100px;
  width:200px;
  display: inline-block;
  margin-left: 176px;
}


a:visited {
  color:white;
}
a:link {
  color:white;
}
a:hover {
  color: pink;
}
a:active {
  color:white;
}
