body {
 background-color: black; 
 min-width: 30vw;
 min-height: 30vh;
}

div {
 background-color: pink; 
 width: 10vw;
 height: 75vh;
}
 
 @media only screen and (max-width: 800px) {
    div {
        width: 75vw;
		height: 10vh;
    }
}

